body {
  margin: 0;
  font-family: 'SpaceGrotesk', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SpaceGrotesk-bold', sans-serif;
  src: url('assets/font/static/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-light', sans-serif;
  src: url('assets/font/static/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk', sans-serif;
  src: url('assets/font/static/SpaceGrotesk-Regular.ttf') format('truetype');
}

  /* Styling for the custom scrollbar */
::-webkit-scrollbar {
  display: none;
}


.swiper {
  width: 100%;
  height: 100%;
}